.form{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
.input-box{
    width: 100%;
    border-radius: 50px;
    font-size: 25px;
    padding: 20px 30px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
.input-box:focus{
    box-shadow: 0 0 10px 1000px skyblue;
    outline: none;
}

.submit-button{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    right: 0;
    margin: 17px;
    background-color: teal;
    color: black;
    transition: 0.2 all;
    box-shadow: 0 0 10px black;
}
.submit-button:hover{
    background-color: skyblue;
}
.submit-button:active{
    transform: scale(0.8);
    box-shadow:0 0 5px black ;
}

.todo{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    width: 90%;
    flex-wrap: wrap;
}
.todo__single{
    display: flex;
    width: 30%;
    border-radius: 15px;
    margin-top: 15px;
    padding: 20px;
    background-image: url("https://img.freepik.com/free-photo/abstract-solid-shining-yellow-gradient-studio-wall-room-background_1258-54539.jpg?size=626&ext=jpg&uid=R84030473&ga=GA1.2.798586548.1667741386&semt=sph");
}
.todos_single__text{
    flex: 1;
    font-size: 20px;
    padding: 5px;
}
.icon{
    margin-left: 10px;
    cursor: pointer;
    font-size: 25px;
}
@media (max-width: 700px) {
.input-box{
    width: 95%;
}
.todo{
    width: 90%;
}
.todo__single{
    width: 100%;
}
}