@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: teal;
  font-family: "neucha" cursive;
}

.headers{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width : 800px) {
  .headers {
    margin: 15px 0;
    font-size: 35px;
  }
}